<div id="modal-register" class="modal fade" tabindex="-1"
    aria-labelledby="modal-register-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-register-label">¿Nuevo
                    por aquí?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%- include('./components/input-username.ejs',
                {id:"register-username-input"})%>
                <%- include('./components/input-mail.ejs',
                {id:"register-mail-input"}) %>
                <%- include('./components/input-password.ejs',
                {id:"register-password-input"}) %>
                <%- include('./components/input-password-confirmation.ejs',
                {id:"register-password-confirmation-input"}) %>

                <%- include('./components/oauth-button.ejs', {mode: "register"}) %>

            </div>
            <p class="error-text"></p>
            <div class="modal-footer">
                <button type="button" class="primary"
                    id="register-button-submit">Registrarse</button>
            </div>
        </div>
    </div>
</div>