<% if (typeof user === 'undefined') { %>
<%- include('./modal-login.ejs') %>
<%- include('./modal-register.ejs') %>
<% } %>

<nav class="navbar navbar-expand-lg">
    <a href="/" class="navbar-brand"></a>

    <div class="navbar-collapse collapse" id="navbar">

        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/about">Sobre
                    Nosotros</a></li>
            <%# Logged in Check %>
            <% if (typeof user === 'undefined') { %>

            <li class="nav-item">
                <button type="button" class="nav-link secondary"
                    data-bs-toggle="modal"
                    data-bs-target="#modal-login">Inicia
                    sesión</button>
            </li>
            <li class="nav-item">
                <button type="button" class="nav-link secondary"
                    data-bs-toggle="modal"
                    data-bs-target="#modal-register">Regístrate</button>
            </li>

            <% } else { %>
            <li class="nav-item">
                <a href="/user/<%= user.id %>" class="nav-user secondary">
                    <img src="/img/storage/users/<%= user.id %>.jpg"
                        alt="Avatar <%= user.username %>"
                        onerror="this.onerror=null; this.src='/img/storage/users/default.jpg'">
                    <span><%= user.username %></span>
                </a>
            </li>
            <li class="nav-item">
                <button id="logout-button" type="button"
                    class="secondary">Cerrar
                    sesión</button>
            </li>
            <% } %>
        </ul>
    </div>

    <button class="navbar-toggler collapsed" type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar"
        aria-controls="navbar" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>