<%# This component takes a (server) object parameter to display the server status %>

<head>
    <link rel="stylesheet" href="/css/lol.css">
</head>

<div class="server-status-card">
    <p class="server-name">
        <%= server.id %>&nbsp;
        (<%= server.name %>)
    </p>

    <p>Estado: </p>
    <i class="server-status-icon
        <%=server.incidents.length === 0 ? 'win' : 'draw' %>">
    </i>

    <p>
        <%= server.maintenances.length === 0 ? 'Operativo' : 'En mantenimiento' %>
    </p>
    <p>
        <%= server.incidents.length === 0 ? 'Sin incidentes' : 'Incidentes detectados recientemente' %>
    </p>

</div>