
<head>
    <link rel="stylesheet" href="/css/user.css">
    <% if (owner) {%>
    <script src="/js/user.js" type="module" defer></script>
    <% } %>
</head>

<%- include('./partials/components/banner.ejs', {hide:true}) %>

<main class="banner-main">
    <div class="profile">
        <div class="profile-pic-container">
            <img src="/img/storage/users/<%= userView.id %>.jpg"
                alt="Foto de perfil" class="profile-pic"
                onerror="this.onerror=null; this.src='/img/storage/users/default.jpg'">
            <button id="upload-pfp" class="upload-pic-btn secondary"
                style="display:none;">Cambiar imagen
                <br>
            </button>
            <input type="file" id="fileInput" style="display: none;"
                accept="image/*">
            <p class="error-text position-absolute bottom-0 bg-white w-100">
            </p>
        </div>
        <div class="user-title" id="user-title">
            <div id="user-info">

                <h1 id="current-username" class="title"><%=
                    userView.username%></h1>

                <div class="points-div">
                    <p class="points">
                        Puntos
                    </p>
                    <p>
                        <%= points.points %>
                    </p>
                </div>

                <div class>
                    <p class="fw-bold fs-3 ">
                        #<%= points.position %>
                    </p>
                </div>
            </div>
            <%# Edit form %>
            <% if (owner) { %>
            <form class="user-info-editing input-row hide"
                id="user-title-editing">
                <input type="text" id="new-username-input"
                    class="input-row-labeled w-100"
                    value="<%= userView.username%>">
                <p class="error-text"></p>
                <div
                    class="d-flex flex-row w-100 justify-content-around align-items-center">
                    <button type="submit" id="submit-username"
                        class="primary"><i
                            class="fa-solid fa-check"></i>
                    </button>
                    <button type="button" id="cancel-username"
                        class="secondary"><i
                            class="fa-solid fa-times"></i>
                    </button>
                </div>
            </form>
            <% } %>
        </div>
        <% if (owner) { %>
        <button id="edit-username" class="primary small"><i
                class="fa-solid fa-pencil"></i>
        </button>
        <% } %>
    </div>
    <div class="bio-info">
        <textarea id="user-bio" disabled readonly><%= userView.bio %></textarea>
        <% if (owner) { %>
        <button id="edit-bio" class="primary"><i
                class="fa-solid fa-pencil"></i></button>

        <div id="user-bio-editing" class="user-bio-editing hide">
            <p class="error-text"></p>
            <div
                class="d-flex flex-row w-100 justify-content-around align-items-center">
                <button type="submit" id="submit-bio"
                    class="primary"><i
                        class="fa-solid fa-check"></i>
                </button>
                <button type="button" id="cancel-bio"
                    class="secondary"><i
                        class="fa-solid fa-times"></i>
                </button>
            </div>
        </div>
        <% } %>
    </div>

    <h1 class="title my-3" id="yourstats-ranking">Ranking de YourStats</h1>
    <div class="ranking-inputs-container">
        <div class="ranking-input-row input-row-labeled">
            <i></i>
            <label for="brawl-username">Brawl Stars</label>
            <input type="text" id="brawl-game-name"
                placeholder="Username Brawl Stars"
                value="<%= points.brawl %>" disabled>


            <p class="my-3">
                <%= points.brawl_points %>
            </p>
        </div>

        <div class="ranking-input-row input-row-labeled">
            <i></i>
            <label for="lol-username">League of Legends</label>
            <input type="text" id="lol-game-name"
                placeholder="Username League of Legends"
                value="<%= points.lol %>" disabled>
            <p class="my-3">
                <%= points.lol_points %>
            </p>
        </div>

        <%# Fortnite %>
        <div class="ranking-input-row input-row-labeled">
            <i></i>
            <label for="fortnite-username">Fortnite</label>
            <input type="text" id="fortnite-game-name"
                placeholder="Username Fortnite"
                value="<%= points.fortnite %>" disabled>
            <p class="my-3">
                <%= points.fortnite_points %>
            </p>
        </div>
    </div>

    <% if (owner) { %>
    <p class="my-4" id="gamename-disclaimer">Nota: Asegúrate de que has escrito
        bien tus nombres de usuario, de lo contrario no te podremos asignar
        puntos!</p>

    <div
        class="d-flex flex-row w-100 justify-content-center align-items-center ">
        <button id="edit-game-names" class="primary"><i
                class="fa-solid fa-pencil"></i>
        </button>
    </div>

    <div id="ranking-editing" class="ranking-editing hide">
        <button id="submit-rankings" class="primary"><i
                class="fa-solid fa-check"></i>
        </button>
        <button id="cancel-rankings" class="secondary"><i
                class="fa-solid fa-times"></i>
        </button>
    </div>

    <div
        class="d-flex w-100 flex-row justify-content-center align-content-center">
        <button id="calculate-points" class="primary">
            Calcular puntos
        </button>
        <p id="calculate-points-text"></p>
    </div>
    <% } %>
</main>