<%# This view takes a (server) object parameter to display the server status and
a
(homedata) object parameter to display the home data %>

<%- include('../partials/components/banner.ejs', {mode: "lol"}) %>

<main class="banner-main">
    <%# Breadcrumb %>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">League of
                Legends</li>
        </ol>
    </nav>

    <h1 class="title">League of Legends</h1>
    <%- include('../partials/components/game-input-username.ejs', {mode :
    "lol"}) %>

    <%- include('./lol-global-ranking.ejs', {summonerDetails:
    homedata.summonerDetails}) %>

    <%- include('./lol-skins-showcase.ejs', {popularSkins:
    homedata.popularSkins}) %>

    <div class="container-fluid my-3 d-flex flex-column gap-3">
        <h3 id="lol-server-status">Estado de los servidores</h3>
        <%- include('../partials/server-status-card.ejs', {server}) %>
    </div>
</main>
