<%- include('../partials/components/banner.ejs') %>

<main class="banner">
    <h1 class="title">League of Legends</h1>
    <%- include('../partials/components/game-input-username.ejs') %>

    <%- include('./lol-game-card.ejs') %>
    <%- include('./lol-game-card.ejs') %>
    <%- include('./lol-game-card.ejs') %>
</main>