<%# This file takes a (loldata) object to show the stats %>

<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" type="module"></script>
    <link rel="stylesheet" href="/css/lol.css">
</head>

<main>
    <div class="d-flex flex-row justify-center gap-3">
        <%- include('../partials/components/back-button.ejs', {href : '/lol'});
        %>
        <h2>League of Legends</h2>
    </div>

    <div class="header my-5">
        <div class="d-flex flex-column flex-wrap">
            <h2>Estadísticas de <%= loldata.gameName %></h2>
            <img src="<%= loldata.iconID %>">

            <div class="lol-general-stats">
                <p>Victorias: <%= loldata.wins %></p>
                <p>Perdidas: <%= loldata.losses %></p>
                <p>Total: <%= loldata.total %></p>
            </div>
        </div>

        <div class="lol-rank">
            <img
                src="/img/lol/ranks/<%= loldata.tier.toLowerCase() + ".png"%>">
            <p>
                <%= loldata.tier %> <%= loldata.rank %>
            </p>
        </div>
    </div>

        <%# Top 3 Champions %>
        <div>
            <p>Top 3 Campeones:</p>
            <div class="lol-user-champions-top">
                <% loldata.championsMasteryData.forEach(champion => { %>
                <div class="lol-champion-card">
                    <img src="/img/lol/champs/<%= champion.championID + ".webp" %>">
                    <div class="d-flex flex-column justify-content-center">
                        <p>Puntos de maestría</p>

                        <p><%= champion.championPoints %></p>
                    </div>
                </div>
                <% }); %>
            </div>

        </div>

    <h3 class="py-3">Últimos 7 días:</h3>
    <p>Partidas jugadas: <%= loldata.gamesLast7Days %></p>

    <%# Positions Chart %>
    <div>
        <p>Posiciones jugadas: </p>
        <canvas id="positionChart"></canvas>
        <script type="module">
            var ctx = document.getElementById('positionChart').getContext('2d');
            var chartData = <%- JSON.stringify(lolPositionsChartData) %>;
            var myChart = new Chart(ctx, chartData);
        </script>
    </div>

    <p class="py-2">
        Últimas <%= loldata.games.length%> partidas:
    </p>
    <div class="lol-games-div">
        <% // Generate a card for each game of the user %>

        <%
        let index = 0;
        loldata.games.resultsArray.forEach(lolgame => { %>
        <%- include('./lol-game-card.ejs', {lolgame: lolgame, username: loldata.gameName, index}); %>
        <% index++; }); %>
    </div>

</main>