<%# This object receives a (lolgame) and (playername) object to display a game as a card %>
<%# Along with the username, and the index of the game in the array %>

<head>
    <script src="/js/lol-user-stats.js" type="module" defer></script>
</head>

<div data-bs-toggle="modal" data-bs-target="#modal-lol-game-<%= index %>"
    class="lol-game-card <%= lolgame.isWinner ? 'win' : 'loss' %>">
    <div class="lol-game-card-icon">
        <img
            src="/img/lol/champs/<%= lolgame.championIdentifier.championId + ".webp"
            %>"
        alt="Campeón jugado">
    </div>

    <div class="lol-game-card-champ">
        <p>
            <%= lolgame.championIdentifier.championName %>
        </p>
    </div>

    <div class="lol-game-kd-ratio">
        <p>
            <%= lolgame.kda %>
        </p>
    </div>

    <div class="lol-game-position">
        <p>
            <%= lolgame.teamPosition %>
        </p>
    </div>

    <div class="lol-game-card-kda">
        <p>
            K / D / A
        </p>
        <p>
            <%= lolgame.stats.kills %>/<%= lolgame.stats.deaths %>/<%=
            lolgame.stats.assists %>
        </p>
    </div>

    <p class="lol-game-card-gamemode">
        <%= lolgame.gameMode %>
    </p>

    <div class="lol-game-items">
        <% lolgame.arrayItems.forEach(id => { %>
        <%- include('./lol-game-item-card.ejs', {id}); %>
        <% }); %>
    </div>
</div>

<%# Game Modal (hidden by default) %>
<div id="modal-lol-game-<%= index %>" class="modal fade lol-game-info-modal"
    tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="lol-game-info-modal-team team-blue">
                    <p lol-blue-team>Equipo Azul</p>

                    <%# Generate a card for each user in the game %>
                    <% for (const key in lolgame.arrayBlue) { %>
                    <%- include('./lol-team-member.ejs', {champ:
                    lolgame.arrayBlue[key], name: key, playername: playername}); %>
                    <% } %>
                </div>

                <div class="lol-game-info-modal-team team-red">
                    <p id="lol-red-team">Equipo Rojo</p>

                    <% for (const key in lolgame.arrayRed) { %>
                    <div class="lol-game-card team-member">
                        <img
                            src="/img/lol/champs/<%= lolgame.arrayRed[key] %>.webp"
                            alt>
                        <p class="team-member-name">
                            <%= key %>
                        </p>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
