<% // This object receives a (lolgame) object to display a game as a card %>

<link rel="stylesheet" href="/css/lol.css">

<div class="lol-game-card
    <%= lolgame.isWinner ? 'win' : 'loss' %>
">
    <div class="lol-game-card-icon">
        <img
            src="/img/lol/champs/<%= lolgame.championIdentifier.championId + ".webp"
            %>"
        alt>
    </div>

    <div class="lol-game-card-champ">
        <%= lolgame.championIdentifier.championName %>
    </div>

    <div class="lol-game-card-kda">
        <p>
            K / D / A
        </p>
        <p>
            <%= lolgame.stats.kills %>/<%= lolgame.stats.deaths %>/<%=
            lolgame.stats.assists %>
        </p>
    </div>

    <p class="lol-game-card-gamemode">
        <%= lolgame.gameMode %>
    </p>

    <div class="lol-game-items">
        <% lolgame.arrayItems.forEach(id => { %>
        <%- include('./lol-game-item-card.ejs', {id}); %>
        <% }); %>
    </div>
</div>