<%# This file takes a (loldata) object to show the stats %>

<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" type="module"></script>
    <link rel="stylesheet" href="/css/lol.css">
</head>

<%- include('../partials/components/banner.ejs', {mode: "lol", hide : true}) %>

<main>
    <%- include('../partials/components/game-stats-header.ejs', {name:
    'League of Legends', href: '/lol', username: loldata.gameName}) %>

    <div class="container header">
        <div class="lol-user">
            <img src="<%= loldata.iconID %>">
            <h2><%= loldata.gameName %></h2>
        </div>

        <div class="lol-rank">
            <img
                src="/img/lol/ranks/<%= loldata.tier.toLowerCase() + ".png"%>">
            <p>
                <%= loldata.tier %> <%= loldata.rank %>
            </p>
        </div>
    </div>

    <div class="lol-general-stats">
        <p id="lol-win-matches">Victorias: <%= loldata.wins %></p>
        <p id="lol-lose-matches">Perdidas: <%= loldata.losses %></p>
        <p id="lol-total-matches">Total: <%= loldata.total %></p>
    </div>


    <%# Top 3 Champions %>
    <div class="container">
        <p id="lol-top-champions">Top 3 Campeones:</p>
        <div class="lol-user-champions-top">
            <% loldata.championsMasteryData.forEach(champion => { %>
            <div class="lol-champion-card">
                <img src="/img/lol/champs/<%= champion.championID + ".webp" %>">
                <div class="lol-champion-card-info">
                    <h3><%= champion.championPoints %></h3>
                    <p id="lol-mastery-points">Puntos de maestría</p>
                </div>
            </div>
            <% }); %>
        </div>

    </div>

    <h3 class="container" id="lol-last-7days">Últimos 7 días:</h3>
    <p id="lol-played-matches">Partidas jugadas: <%= loldata.gamesLast7Days %></p>

    <%# Positions Chart %>
    <h3 class="container" id="lol-played-positions">Posiciones jugadas: </h3>
    <div class="container chart">
        <canvas id="positionChart"></canvas>
        <script type="module">
            var ctx = document.getElementById('positionChart').getContext('2d');
            var chartData = <%- JSON.stringify(lolPositionsChartData) %>;
            var myChart = new Chart(ctx, chartData);
        </script>
    </div>

    <h3 class="container" id="lol-last-matches">Últimas <%= loldata.games.length %> partidas:</h3>
    <div class="container lol-games-container">
        <% // Generate a card for each game of the user %>

        <%
        let index = 0;
        loldata.games.resultsArray.forEach(lolgame => { %>
        <%- include('./lol-game-card.ejs', {lolgame: lolgame, username:
        loldata.gameName, index}); %>
        <% index++; }); %>
    </div>

</main>