<head>
    <script src="/js/backoffice.js" type="module" defer></script>
    <link rel="stylesheet" href="/css/backoffice.css">
</head>

<%- include('../partials/modal-back-update.ejs') %>
<%- include('../partials/modal-confirm-delete.ejs') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<main>
    <h1 class="title" id="backoffice-pageTitle">Usuarios</h1>
    <!--search by username-->
    <form action="get">
        <%- include('../partials/components/input-mail.ejs',
        {id:"back-search-mail-input"})%>
        <button id="back-clear-button" type="button" class="secondary" style="display: none;">Limpiar</button>
        <button id="back-search-button" type="submit" class="primary">Buscar</button>
        <p id="error-search-back" class="error-text"></p>
    </form>
    <div>
        <p id="back-office-totalUsers">Total de usuarios: <p id="countUsers"><%= count %></p></p>
    </div>
    <table>

        <tbody>

            <thead>
                <td id="backoffice-ID">ID</td>
                <td id="backoffice-username">Nombre de usuario</td>
                <td id="backoffice-mail">Correo</td>
                <td id="backoffice-role">Rol</td>
                <td></td>
                <td></td>
            </thead>
            <% users.forEach(user => { %>
                <tr class="user-row">
                    <td><%= user.id %></td>
                    <td><%= user.username %></td>
                    <td><%= user.mail %></td>
                    <td><%= user.role %></td>
                    <td><a data-bs-toggle="modal" data-bs-target="#modal-back-update"
                        data-id="<%= user.id %>"
                        data-username="<%= user.username %>"
                        data-mail="<%= user.mail %>"
                        data-role="<%= user.role %>"
                        class="edit-btn" id="backoffice-edit-btn">Editar</a></td>
                    <td><a class="backoffice-delete-btn" data-id="<%= user.id %>" data-bs-toggle="modal" data-bs-target="#deleteModal">Eliminar</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <div class="pagination-container">
        <button id="prevPage" class="secondary"><i class="fas fa-arrow-left"></i></button>
        <button class="secondary" id="previous-currentPage"></button>
        <button class="primary" id="currentPage"></button>
        <button class="secondary" id="after-currentPage"></button>
        <button id="nextPage" class="secondary"><i class="fas fa-arrow-right"></i></button>
    </div>
</main>