<script type="module" src="../../public/js/backoffice.js"></script>
<main>
    <h1 class="title">Users</h1>
    <table>

        <tbody>
            <thead>
                <td>ID</td>
                <td>Username</td>
                <td>Mail</td>
                <td>Role</td>
                <td></td>
                <td></td>
            </thead>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.username %></td>
                    <td><%= user.mail %></td>
                    <td><%= user.role %></td>
                    <td><a href="/admin/users/edit/<%= user.id %>">Edit</a></td>
                    <td><a href="/admin/users/delete/<%= user.id %>">Delete</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</main>