<%# This component takes a (mode) optional parameter to determine the game mode and display the corresponding banner and a (hide) optional parameter to hide the content %>

<%
const bannerslol = [
"/img/banners/lol-a.jpg",
"/img/banners/lol-b.jpg",
]

const bannersbrawl = [
"/img/banners/brawl-a.jpg",
"/img/banners/brawl-b.webp",
"/img/banners/brawl-c.jpg",
"/img/banners/brawl-d.jpg"
]

const bannersfn = [
"/img/banners/fn-a.jpg",
"/img/banners/fn-b.jpg",
"/img/banners/fn-c.jpg",
"/img/banners/fn-d.jpg"
]

const bannerMode = typeof mode !== "undefined" ? mode : "";
const hideContent = typeof hide !== "undefined" ? hide : false;
let text = bannerMode === "" ? "Tus estadísticas, al instante." : "";

switch (bannerMode) {
    case "lol":{
        text = "League of Legends";
        break;
    }
    case "brawl":{
        text = "Brawl Stars";
        break;
    }
    case "fn":{
        text = "Fortnite";
        break;
    }

    case '':
        break;
}
%>

<div class="banner">

    <% if (!hideContent) { %>
    <%# Slogan will not be translated if it has a game name %>
    <h2 id="<%= bannerMode === "" ? 'eslogan' : "" %>">
        <%= text %>
    </h2>

    <a href class="divisor"></a>

    <p></p>
    <% } %>

    <% if (bannerMode === "lol") { %>
    <img src="<%= bannerslol[Math.floor(Math.random() * bannerslol.length)] %>"
        alt="Banner League of Legends">
    <% } else if (bannerMode === "brawl") { %>
    <img
        src="<%= bannersbrawl[Math.floor(Math.random() * bannersbrawl.length)] %>"
        alt="Banner Brawl Stars">
    <% } else if (bannerMode === "fn") { %>
    <img src="<%= bannersfn[Math.floor(Math.random() * bannersfn.length)] %>"
        alt="Banner Fortnite">
    <% } else { %>
    <%# If no mode, random banner %>
    <% const allbanners = bannerslol.concat(bannersbrawl) %>
    <img src="<%= allbanners[Math.floor(Math.random() * allbanners.length)] %>"
        alt="Banner">
    <% } %>

</div>