<%# This component takes a (gameMode) parameter to display the input form in each game's needs %>

<% const gameMode = typeof mode !== "undefined" ? mode : ""
const placeholder = gameMode === "brawl" ? "Introduce tu tag de jugador" :
"Introduce tu nombre de jugador"
%>

<div class="game-input-username-container justify-content-center input-row">

    <%# Username input form %>
        <form id="game-username-form"
            class="<%= gameMode %> game-username-form">

            <% if (gameMode === "lol") { %>
            <input type="text" name="username" id="game-username-input"
                class="game-input-username-<%= gameMode %>" required
                placeholder="<%= placeholder %>" data-mode="<%= mode %>">

            <div class="game-tag-input-container">
                <input type="text" name="tag" id="game-tag-input"
                    class="game-input-tag-<%= gameMode %>" required
                    placeholder="Tag" >
            </div>
            <% } else { %>
            <input type="text" name="username" id="game-username-input"
                class="game-input-username-<%= gameMode %>" required
                placeholder="<%= placeholder %>" data-mode="<%= mode %>">
            <% } %>

            <button class="primary" type="submit" id="game-input-username-btn">
                Buscar
            </button>
            <p class="error-text"></p>
        </form>
</div>